/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */

 
 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 
:root {
  --ifm-color-primary: #19AF54;
  --ifm-color-primary-dark: #179E4C;
  --ifm-color-primary-darker: #159547;
  --ifm-color-primary-darkest: #117B3B;
  --ifm-color-primary-light: #1CC15C;
  --ifm-color-primary-lighter: #1DC961;
  --ifm-color-primary-lightest: #24E06E;
}

.pagination-nav__label{
  color: var(--ifm-color-primary);
}

.col a{
  color: green;
}

.mainContainer{
  overflow-x: hidden;
  padding: 60px
}

.containerSec{
  margin: 0 auto;
  display: flex;
  width: 1100px;
  justify-content: center;
  padding: 0;
}

.sectionHeroBlog{
  width: 1100px;
  padding-top: 250px;
}

.titleBox{
  margin-bottom: 3rem;
}

.centerText{
  text-align: center;
}

.sectionHeroMobile{
  position: relative;
  padding-top: 120px;
  padding-bottom: 0;
  width: 100%;
}

a {
  color: #1dc961;
}

.section{
  padding-bottom: 140px;
  width: 1100px;
}

@media only screen and (max-width: 1279px) {

  .containerSec{
    width: 960px;
  }

  .sectionHero{
    width: 960px;
  }

  .section{
    width: 960px;
  }
}

@media only screen and (max-width: 960px) {

  .containerSec{
    width: 100%;
  }

  .section{
    width: 100%;
  }

  .mainContainer{
    padding: 0
  }
}